{% extends 'app/base.html' %}

{% block content %}

    <h1>Add new image</h1>
    <form action="{% url 'app:newImage' %}" method="post">
        {% csrf_token %}
        <p>
            <label for="title">Title: </label>
            <input type="text" name="title">
        </p>
        <p>
            <label for="url">url: </label>
            <input type="text" name="url">
        </p>
        <p>
            <label for="description">Description: </label>
            <input type="text" name="description">
        </p>
        <p>
            <label for="pub_date">Pub-date: </label>
            <input type="date" name="pub_date">
        </p>
        <p>
            <input type="submit" value="Save">
        </p>
    </form>

{% endblock %}

