{% extends 'app/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="date">
        Posted by: <a href="{% url 'accounts:profile' image.user.id %}">{{ image.user }}</a>,
        {{ image.pub_date }}
      </div> 

      {% if user.is_authenticated %}
        {% include "includes/vote_buttons.html" with image=image vote=vote %}
      {% endif %}

      <h2>{{ image.title }}</h2>
      <img class="app-fit" src="{{image.url}}" alt=""/>
    </div>
    <div class="col-md-6">
      <h3>Description</h3>
      <p>{{ image.description|linebreaksbr }}</p>
      <h3>Comments</h3>      
      {% for comment in comments %}
        <div class="border comment">
          
          <p class="red">
            Author: 
            <a href="{% url 'accounts:profile' comment.user.id %}">{{ comment.author }}</a> 
            ({{comment.created_at}})
            {% if comment.isNotApproved and user.is_superuser %}
              <a href="{% url 'app:comment_approve' image.id comment.id %}">
                <button>Approve</button>
              </a>
            {% endif %}

          </p>
          <p class="secondary">
            {{ comment.text }}
          </p>
          <p>
            {% if user.is_authenticated %}
              <form action="{% url 'app:like_comment' comment.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Like">
              </form>
            {% endif %}
            {{ comment.num_likes }} likes
          </p>
        </div>
      {% endfor %}

      {% if user.is_authenticated %}

        <h2>Post a comment as {{ user.username }}</h2>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <form action="{% url 'app:comment' image.id %}" method="post" class="border">
          {% csrf_token %}

          {% include "includes/bs4_form.html" with form=form %}
          <input type="submit" value="Post Comment" class="btn btn-lg btn-primary btn-block">

        </form>

      {% endif %}

    </div>
  </div>
</div>
{% endblock %}
