{% extends 'app/base.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-10">
      <p>
        {% if user.is_authenticated %}
          <a href="{% url 'app:create_image' %}">Submit new image</a>
        {% endif %}
      </p>
    </div>
  </div>
   
  {% for image,vote in images_with_votes %}
    <div class="row">
      <div class="col-md-2">
        <img class="app-fit" src="{{image.url}}" alt=""/>
      </div>
      <div class="col-md-10">
        <div class="date">
          <p class="red">
          Posted by: 
          <a href="{% url 'accounts:profile' image.user.id %}">{{image.user}}</a>;
          Published: {{ image.pub_date }};  Comments: {{ image.comment_set.count }}; 
        <a href="{% url 'app:edit_image' image.id %}">Edit</a> | 
            {% include "includes/delete_image_link.html" with image=image %}
      </p>
        </div>
        {% if user.is_authenticated %}
          {% include "includes/vote_buttons.html" with image=image vote=vote %}
        {% endif %}
        <h2><a href="{% url 'app:detail' image.id %}">{{ image.title }}</a></h2>
        <p>{{ image.description|linebreaksbr }}</p>
      </div>
    </div>
  {% endfor %}
{% endblock %}
