{% extends 'images/base.html' %}

{% block content %}
    <h1>My imgur</h1>
    <h2>
        <a href="{% url 'new' %}">Add new image</a>
    </h2>
    {% for image in all_images %}

    <div class="image">
        <h2>
            <a href="{% url 'detail' image.id %}">{{image.title}}</a>
        </h2>
        
        <img src="{{image.url}}" alt="slika">
    </div>

    {% endfor %}
{% endblock %}