{% extends 'images/base.html' %}

{% block content %}

    <h1>Ovo je testna stranica</h1>

    <p>Ja sam {{ name }}</p>

    {% for day in days %}

    <div>
        <p>{{ day }}</p>
    </div>

    {% endfor %}

{% endblock %}